body{
  font-size: 16px;
  color: #fff;
  background-color: #880e4f;
  font-family:'Oxygen', sans-serif;
}

h2{
  margin-bottom: 30;
  margin-top: 20;
}



#action { /* box formulaire */
	background:
	  radial-gradient(black 15%, transparent 16%) 0 0,
	  radial-gradient(black 15%, transparent 16%) 8px 8px,
	  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background:
		-moz-radial-gradient(black 15%, transparent 16%) 0 0,
		-moz-radial-gradient(black 15%, transparent 16%) 8px 8px,
		-moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		-moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background:
		-webkit-radial-gradient(black 15%, transparent 16%) 0 0,
		-webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
		-webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		-webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#373737;
	background-size:16px 16px;
	-webkit-background-size:16px 16px;
	-moz-background-size:16px 16px;
	-o-background-size:16px 16px;
    height: 570px;
    width: 800px;
    margin: -150px 0 0 -450px;
    padding: 30px;
    position: absolute;
    top: 32%;
    left: 52%;
    z-index: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow:
          0 0 2px rgba(0,0,0,0.5),
          0 1px 1px rgba(0,0,0,0.5),
          0 3px 0 #373737,
          0 4px 0 rgba(0,0,0,0.5),
          0 6px 0 #373737,
          0 7px 0 rgba(0,0,0,0.5),
          0 -10px 5px 10px rgba(0, 0, 0, 0.3) inset,
          0 10px 10px 15px rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.5),
          1px 1px   0 rgba(0,0,0,0.5),
          3px 3px   #373737,
          4px 4px   0 rgba(0,0,0,0.5),
          6px 6px   #373737,
          7px 7px   0 rgba(0,0,0,0.5)
          0 -10px 5px 10px rgba(0, 0, 0, 0.3) inset,
          0 10px 10px 15px rgba(255, 255, 255, 0.1) inset;
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.5),
          0 1px 1px rgba(0,0,0,0.5),
          0 3px 0 #373737,
          0 4px 0 rgba(0,0,0,0.5),
          0 6px 0 #373737,
          0 7px 0 rgba(0,0,0,0.5),
          0 -10px 5px 10px rgba(0, 0, 0, 0.3) inset,
          0 10px 10px 15px rgba(255, 255, 255, 0.1) inset;
}

#field{
  background-color: #ffd54f;
  font-size: 1.1em;
  margin: 5px 5px 5px 5px;
  padding: 8px 10px 25px 20px;
  border: 1px solid #ad1457;
  border-radius: .85rem;
  box-shadow: 0 1px 1px 1px #c2185b;
  text-shadow: 0.1px 0.1px 0.1px #222;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd54f), to(#ef6c00));
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0,0,0,0.5),
   0 3px 0 #373737, 0 4px 0 rgba(0,0,0,0.5), 0 6px 0 #373737,
   0 7px 0 rgba(0,0,0,0.5), 0 -10px 5px 10px rgba(0, 0, 0, 0.3) inset,
  0 10px 10px 15px rgba(255, 255, 255, 0.1) inset;

}

 #option{
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 2px 2px 2px #1F1F1F inset;
  box-sizing: content-box;
  margin:  5px -32px 20px -32px;
  background: -webkit-repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(0, 0, 0, .05) 10px, rgba(0, 0, 0, .05) 20px),-webkit-linear-gradient(top, #e6e0dc, #90CAF9);
  border-radius: .25rem;
  text-align: center;
  padding: .3rem 0.5rem;
  box-shadow: 0 -25px 25px rgba(0, 0, 0, 0.2) inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset,
  0 0 0 1px rgba(0, 0, 0, 0.75) inset, 0 2px 5px rgba(0, 0, 0, 0.25),
  0px 1px 2px rgba(0, 0, 0, 0.7), inset 4px 0 2px -1px rgba(0,0,0,0.3),
  0 -2px 5px rgba(0, 0, 0, 0.2);

}

#header-nav{
  background-color: #0097a7;/*#839422;*/
  border-radius:0;
  border: 0;
}

#logo-img{
  background: url("./am_logo.png") no-repeat ;
  background-position: center;
  height: 40px;
  margin: 5px 2px 2px 0;
}

/*
HEADING feature*/
.heading-secondary {

  font-weight: 700;
  background-image: linear-gradient(to right, #caf3ca, #85f1cd);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 1.8rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
/*
END HEADING FETRUE */

.navbar-brand{
  padding-top: 10px;
  text-transform: uppercase;
}

.navbar-brand h1{
  font-family: 'Courier New',monospace;
  color: white;
  font-size: 1.8em;
  font-style : italic;
  /*text-transform: uppercase;*/
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

.navbar-brand p{
  color: #000;
  font-size: .7em;
  margin-top: 5px;
  text-align: center;
}

.navbar-brand p span{
  vertical-align: middle;
}

/*
HOME TILES
*/
.feature-box {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  font-size: 1.1rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .3s;}
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

/* END HOME TILES feature*/

.btn, .btn:link, .btn:visited {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  /*padding: 1.5rem 4rem;*/
  border-radius: 10rem;
  transition: all .2s;
  /*font-size: 1.6rem;*/
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  z-index: -1;
  transition: all .4s; }


  .btn--white {
    background-color: #FFFFFF;
    color: #777777; }
    .btn--white::after {
      background-color: #FFFFFF; }

  .btn--blue {
    background-color: #007bff;
    color: #FFFFFF; }
    .btn--blue::after {
      background-color: #91bff1; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  border-bottom: 1px solid #55c57a;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }



#nav-list{
  margin-top: 85px;
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

#nav-list a{
  color: #5a1f3a;
  text-align: center;
}

#nav-list a:hover{
  background: #E7E7E7;
}

#nav-list a span{
  font-size: 1.2em;
  display: list-item;

}


#phone{
  margin-top :5px;
}

#phone a{
  text-align: right;
  padding-bottom: 0;
}
/* we deliver*/
#phone div{
  color: #ffc107;
  text-align: right;
  padding-right: 80px;
  padding-top: 25px;
  font-size: 0.9em;


}

.navbar-header button.navbar-toggler  {
  border: 1.5px solid #61122f;
}

.nav-item button.navbar-toggler li{
    display: list-item;
    text-align: -webkit-match-parent;
}



.navbar-header button.navbar-toggler{
  clear:both;
  /*margin-top : -30px;*/
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);

}

/* end header */

/*****footer***/
.panel-footer{
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

.panel-footer div.row{
  margin-bottom: 35px;
}
#create, #social{
  line-height: 2;
}
#create > span , #social >span{
  font-size: 1.3em;
}

#social p{
  font-size: .8em;
  line-height: 1.8em;
}

#feed{
  font-style: italic;
}
#feed p:nth-child(2){
  margin-top: 25px;
}
/*********end footer*****/


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 2.5em;
  height: 2.5em;
  cursor: grab ;
  margin: 5px 5px 5px 5px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
/****end icon *********/



/******home page***/
.jumbotron{
  background: url("./aecdb6d0-72ac-4b03-b89f-50315809ad58.png") no-repeat;
  height : 750px;
  background-position: center;
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#about-tile, #art-tile, #sign-tile{
  height: 250px;
  width :100%;
  margin-bottom :15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

#about-tile:hover, #art-tile:hover, #sign-tile:hover{
  box-shadow: 0 1px 5px 1px #cccccc;
}

#about-tile{
  background: url("./f1434a28-88df-4e16-a115-d962d1014ed0.png") no-repeat;
  background-position: center;
}

#art-tile{
  background: url("./fa9229b2-58c4-4905-807c-e6b20d69932a.png") no-repeat;
  background-position: center;
}

#sign-tile{
  background: url("./0da55155-641e-4e37-a83e-64730239436a.png") no-repeat;
  background-position: center;
}

#about-tile span, #art-tile span ,#sign-tile span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align : center;
  font-size : 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.bgabout{
  background: url("./39611984661.jpg") repeat;
  height: 1920px;
  background-position: center;
  opacity: .5;

  box-shadow: 0 0 50px #3F0C1F;
  border: 3px solid #3F0C1F;
}
#about-text p{
  text-align: center;
  text-decoration-color: #fff;
  font-size: 3.5em;
}

/*****sign in********/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/********end sign in*****/

/***END HOMEPAGE *******/

/****gallery category*******/
.category-tile{
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover{
  box-shadow: 0 1px 5px 1px #cccccc;
}

#gallery-category + div{ /*next sibling*/
  margin-bottom: 50px;
}
/*******end gallery category******/

/***single category *******/
.gallery-item-title{
  margin-bottom: 10px;
}
.gallery-item-tile hr{
  width: 80%;
  border-top: 1px solid #f8f9fa;

}
.gallery-item-tile .gallery-item-hour{
  font-size: 0.9em;
  text-align: center;
  margin-top: -15px:;
  margin-right: -15px;
}
.gallery-item-tile .gallery-item-hour span{
  font-size: .6em;
}
.gallery-item-tile .gallery-item-hour span{
  font-size: .6em;
}
.gallery-item-photo{
  position: relative;
  border:2px solid #3F0C1F;
  overflow: visible;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 15px;
  max-width: 250px;

}
.gallery-item-photo div{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}

.gallery-item-description{
  text-align: center;
  padding-right: 30px;
}
h3.gallery-item-title{
  margin: 0 0 10px;
}
.gallery-item-details{
  font-size: .9em;
  font-style: italic;
}

.gallery-item-photo:hover{
  box-shadow: 0 1px 5px 1px #cccccc;
}
/***end single category******/

/*large d*/
@media (min-width :1200px){
  .jumbotron{
    background: url("./46f94652-2d73-4493-aa8f-61517a61f4c2.png") no-repeat;
    height : 1200px;
    background-position: center;
  }
  #call-btn, #xs-deliver{
    display:none;
  }

  #about-tile, #art-tile ,#sign-tile{
    width: 360px;
    margin: 0 auto 15px;
  }
}

/*medium d*/
@media (min-width:992px) and (max-width :1199px){

  #call-btn, #xs-deliver{
    display:none;
  }
  #sign-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
}

/* small */
@media (min-width :768px) and (max-width:991px){

  #call-btn, #xs-deliver{
    display:none;
  }
  #nav-list{
    margin-top: 12px;
  }

}

@media (max-width :768px) and (min-width:360px){
  #about-tile, #art-tile,#sign-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
}


@media (min-width :768px) {
  .navbar-toggler {
    display:none;
  }
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

}


/*extra samll*/
@media (max-width :767px){
  #logo-img{
    background: url("./am_logo.png") no-repeat ;
    background-position: center;
    height: 40px;
    margin: 0;
  }

  .navbar-brand{
    padding-top:10px;
    height:80px;
  }
  .navbar-brand h1{
    padding-top: 10px;
    font-size: 5vw; /*1vw =1% of viewport width*/
  }
  .navbar-brand p{
    font-size: .6em;
    margin-top: 12px;
  }

  #collapsable-nav a{
    font-size: 1.2em;
  }
  #collapsable-nav a span{
    font-size: 1em;
    margin-right:5px;
  }

  #call-btn > a{
    font-size: 1.5em;
    display : block;
    margin : 10px 10px 2px 10px;
    padding :10px;
    border : 2px solid #fff;
    background-color: #28b485;
    color: #951c49;
  }
  #xs-deliever{
    margin-top:5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  /**home pge**/

  .jumbotron{
  background: url("./f4b482e4-2857-4a63-97bd-96b3282cbbb9.png") no-repeat;
    height : 360px;
    background-position: center;
  }

  /**footer***/
  .panel-footer section{
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3){
    margin-bottom: 0;
  }
  .panel-footer section hr{
    width: 50%;
    border-top: 1px solid #f8f9fa;
  }

  .gallery-item-photo{
    margin-right: auto;
  }

  #about-text p{
    text-align: center;
    text-decoration-color: #fff;
    font-size: 2.5em;
  }


}

/*******super extra small device ********/
@media (max-width: 479px){
  .navbar-brand h1{
    padding-top: 5px;
    font-size: 6vw;
  }
  #about-tile, #art-tile,#sign-tile{
    width:280px;
    marin : 0 auto 15px;
  }
}

#collapsable-nav a{
  font-size: 1.2em;
}

#collapsable-nav a span{
  font-size: 1em;
  margin-right: 70px;
  margin-bottom: -25px;

}



/*
navigation__button
*/

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #FFFFFF;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 2rem;
      right: 2rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 2rem;
      right: 2rem; } }

.navigation__background {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 3rem;
  background-image: radial-gradient(#4de8b4, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 2rem;
      right: 2rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 2rem;
      right: 2rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFFFFF 50%);
  background-size: 250%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 2.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.1rem;
    height: 2px;
    background-color: #333333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }


/*
END navigation-button*/
